<div class="add-product-container">
  <h2>Add New Product</h2>
  <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  <div *ngIf="notificationMessage">
    <app-notification [message]="notificationMessage" [type]="notificationType"></app-notification>
  </div>
  <form #myForm="ngForm" (ngSubmit)="addProduct()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" [(ngModel)]="newProduct.name" required #name="ngModel">
      <div *ngIf="name.invalid && (name.dirty || name.touched)" class="error-message">Name is required.</div>
    </div>
 
    <div class="form-group">
      <label for="quantity">SKU:</label>
      <input type="number" id="quantity" name="quantity" [(ngModel)]="newProduct.quantity">
    </div>
 
    <div class="form-group">
      <label for="price">Price:</label>
      <input type="number" id="price" name="price" [(ngModel)]="newProduct.price">
    </div>
 
    <div class="form-group">
      <label for="description">Description:</label>
      <textarea id="description" name="description" [(ngModel)]="newProduct.description"></textarea>
    </div>
 
    <div class="form-group">
      <label for="category">Category:</label>
      <div class="input-group">
        <select id="category" name="category" [(ngModel)]="newProduct.category" required #category="ngModel">
          <option *ngFor="let category of categories" [value]="category">{{ category }}</option>
        </select>
      </div>
      <div *ngIf="category.invalid && (category.dirty || category.touched)" class="error-message">Category is required.</div>
    </div>
 
    <div class="button-group">
      <button type="button" class="clear-button" (click)="clearForm()">Clear</button>
      <button type="submit" class="add-button" [disabled]="myForm.invalid">Add Product</button>
    </div>
  </form>
</div>