<div class="product-details-container">
  <div class="header-buttons">
    <button class="goback-button" (click)="goBack()">Go Back</button>
  </div>

  <h2>Product Details</h2>
  <!-- <div *ngIf="notificationMessage" class="notification" [ngClass]="notificationType">
    {{ notificationMessage }}
  </div> -->

  <div *ngIf="product">
    <h3>{{ product.name }}</h3>
    <p>Price: ${{ product.price }}</p>
    <p>Category: {{ product.category }}</p>
    <p>Description: {{ product.description }}</p>
  </div>

  <div *ngIf="!product && !errorMessage">
    <p>Loading product details...</p>
  </div>

  <div *ngIf="errorMessage" class="error-message">
    {{ errorMessage }}
  </div>
  <button class="addToCart-button" (click)="addToCart()">Add to Cart</button>
</div>
